[submodule "LogKeeper/src/lib/i2cdevlib"]
	path = LogKeeper/Arduino/lib/i2cdevlib
	url = https://github.com/jrowberg/i2cdevlib.git
[submodule "LogKeeper/src/lib/MsTimer2"]
	path = LogKeeper/Arduino/lib/MsTimer2
	url = https://github.com/PaulStoffregen/MsTimer2.git
[submodule "LogKeeper/src/lib/Low-Power"]
	path = LogKeeper/Arduino/lib/Low-Power
	url = https://github.com/rocketscream/Low-Power.git
[submodule "LogKeeper/src/lib/WSWireLib"]
	path = LogKeeper/Arduino/lib/WSWireLib
	url = https://github.com/Exadios/WSWireLib.git
	url = git@github.com:Exadios/WSWireLib.git
[submodule "lib/boost"]
	path = lib/boost
	url = git@github.com:Exadios/boost.git
[submodule "LogKeeper/src/lib/boost"]
	path = LogKeeper/Pi/lib/boost
	url = git@github.com:Exadios/boost.git
[submodule "LogKeeper/Pi/lib/wiringPi"]
	path = LogKeeper/Pi/lib/wiringPi
	url = git@github.com:Narrogin-Gliding-Club/wiringPi.git
	branch = master
[submodule "LogKeeper/Experimental/APRS/python-ogn-client"]
	path = LogKeeper/Experimental/APRS/python-ogn-client
	url = git@github.com:glidernet/python-ogn-client.git
[submodule "LogKeeper/lib/python-ogn-client"]
	path = LogKeeper/lib/python-ogn-client
	url = git@github.com:glidernet/python-ogn-client.git
